
<html lang="pt-br">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <link rel="stylesheet" type="text/css" href="css/reset.css" >
	<link rel="stylesheet" type="text/css" href="css/estilos.css"> 

	<title>Link4Learn </title>
	<style>
	body{
	  margin: 0;
	  }
	 #menu{
	 
	 }
	 #menu ul{
	    margin: 0;
		background-color: #5F9EA0;
		list-style: none;
	 }
	 #menu ul li{
	    display: inline;
	 }
	 #menu ul li  a{
	     padding: 5px 10px;
		 display: inline-block;
		 
		 color: white;
		 text-decoration: nome;
	 }
	 
	 #menu ul li a : hover{
	 color: #004d00
	 }
	</style>
</head>
<body>

<nav id="menu">
    <ul>
        <li><a href="/home">Cursos</a></li>
        <li><a href="#">Alunos</a></li>
        <li><a href="#">Info Curso</a></li>
       
    </ul>
</nav>

<li><a href="/cursos/novo/">Indicadores</a></li>
<li><a href="/cursos/{{ course_id }}/novoaluno">Cadastrar aluno</a></li>
{% if student_list %}
    <ul>
    {% for student in student_list %}
        <li><a href="/cursos/{{ course_id }}/alunos/{{ student.id }}">{{ student.name }}</a> - <a href="/cursos/{{ course_id }}/alunos/{{ student.id }}/remover"> remover aluno</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Você ainda não cadastrou alunos nesse curso.</p>
{% endif %}
Competências promovidas por esse curso( <a href="/cursos/{{ course_id }}/competencias/nova">adicionar</a>): 
{% for skill in skill_list %}
    {{ skill.name }} - <a href="/cursos/{{ course_id }}/competencias/{{ skill.id }}/remover"> remover </a> |
{% endfor %}
</body>
</html>
