<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="styles.css"> 

	<title>Link4Learn </title>

</head>
<body>

<nav id="menu">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Cursos</a></li>
        <li><a href="#">Alunos</a></li>
        <li><a href="#">Info Curso</a></li>
       
    </ul>
</nav>

<li><a href="/cursos/novo/">Cadastrar novo curso</a></li>
{% if course_list %}
    <ul>
    {% for course in course_list %}
        <li><a href="/cursos/{{ question.id }}/">{{ course.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Você ainda não cadastrou nenhum curso.</p>
{% endif %}

</body>
</html>
